.container {
  max-width: 900px;
  margin: 6rem auto;
  padding: 2rem;
  background: white;
}

.tabs {
  display: grid;
  border-radius: 5px 5px 0 0;
}

[role='tablist'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

[role='tabpanel'] {
  background: orange;
  padding: 2rem;
}

button[role='tab'] {
  height: 4rem;
  background: rgb(41, 41, 41);
  border: 0;
  font-size: 1rem;
  color: rgb(138, 138, 138);
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 -2px 5px rgb(27, 27, 27);
  cursor: pointer;
}

button[aria-selected='true'] {
  font-size: 1.2rem;
  background: orange;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

button:focus {
  outline: 0;
  --bs-color: rgba(0, 0, 0, 0.6);
}
